name: Deploy to Server

permissions:
  contents: write

on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 读取仓库内容
        uses: actions/checkout@v2
      - name: 安装依赖
        run: npm install
      - name: 构建项目
        run: npm run build
      - name: 部署到服务器
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          source: "dist/*"
          target: ${{ secrets.SSH_REMOTE_PATH }}